body{
  background-color: #f19044;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
[type=radio] + img {
    cursor: pointer;
  }
  
[type=radio]:checked + img {
    width: 24%;
    border: 10px solid #fff;
  }

label img {
   transition: ease 0.3s;
   width: 20%;
   margin: 2vw;
   border: 5px solid #fce0cd;
}
form{
  text-align: center;
}

h1{
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  margin: 0;
}

h3{
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
  margin: 0 0 5vh 0;
}

label button{
  display: block;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  font-size: 1em;
  padding: 20px 30px;
  margin-left: auto;
  margin-right: auto;
}

h2{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

#add {
  display: block;
  margin: 20px 0 5px 20px;
}

#name{
  font-size: 400%;
  margin: 10vh 0 8vh 0;
}

label input[type='text']{
  border: none;
  border-radius: 2em;
  padding: 1.4vh;
  margin: 0 auto 10px auto;
}

form button{
  border: none;
  padding: 1.4vh;
  background-color: #bf6f36;
  color: #fce0cd;
  font-family: 'Archivo Black', sans-serif;
  border-radius: 1em;
}


@media only screen and (max-width: 580px) {

  h1{
    font-size: 1.5em;
    margin: 10px 0 0 0;
  }
  

  label img {
    border: 2px solid #fff; 
    width: 38%
  }
  [type=radio]:checked + img {
    width: 42%;
    border: 5px solid #fff;
  }
}
